# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Next.js
node_modules/
.next/
out/

# Environment
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
